.filter-container {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin-top: 50px;
}

.filter-container div {
  background: #FF3F6E;
  border-radius: 6px;
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding: 5px 10px;
  box-sizing: content-box;
  cursor: pointer;
}